@import url(fonts/Lora-VariableFont_wght.ttf);
@import url(fonts/RobotoSlab-VariableFont_wght.ttf);

body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-image: url(container_background.jpeg);
  background-size: cover;
  padding: 20px;
  text-align: center;
  align-items: center;
  width: 410px;
  height: 875px;
  transform: translateY(-0px);
}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 65%;
  padding: 8px;
  margin: 5px 0;
  border-radius: 24px;
  border: 1px solid #ccc;
}

#date-time {
  font-family: "Lora", serif;
  color: #ebe5e5;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.time {
  font-size: 80px;
  color: #000000;
}

#calendar {
  margin-top: 30px;
  color: #ebe5e5;
  border: 2px solid hsl(160, 96%, 47%);
  border-radius: 10px;
  padding: 10px;
}

.calendar-header {
  font-size: 20px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-top: 10px;
}

.calendar-day {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: #6ea0af96;
  cursor: pointer;
}

.calendar-day.empty {
  visibility: hidden;
}

.calendar-day.today {
  background-color: #ffcc00b7;
  font-weight: bold;
}
